.p-menubar {
    background-color: rgb(28, 35, 49) !important;
    color: #F4F4F4 !important;

    position: fixed;
    width: 100%;
    z-index: 1030;
    top: 0;
}
.p-menubar li {
    margin-right: 0.6rem;
}
.p-menubar .p-menuitem-text {
    color: #F4F4F4 !important;
}
.p-menubar .p-menuitem-icon {
    color: #a19e9e !important;
}
.home-title .p-menuitem-link {
    padding: 0.25rem 1.25rem !important;
}
